{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join the Pack</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
<div class="form-container">
    {% block content %}{% endblock %}
</div>
<div class="container-fluid">
    <div class="row">
        <img src="https://imgur.com/emwg2as.png" id="logo">
        <img src="https://imgur.com/uuTNshn.png" id="Title">
    </div>
</div>
</body>
</html>
