{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'virtues/style.css' %}">
        <script src="https://kit.fontawesome.com/11175c8266.js" crossorigin="anonymous"></script>
        <title>{% block head_title %}{% endblock %}</title>
    </head>
    <body>
        <main>
            <!-- Navbar -->
            <nav class="nav">
                <div class="nav-menu flex-row">
                    <div class="nav-brand">
                        <a href="#" class="text-gray">Virtues Of Leos</a>
                        <img src="https://i.imgur.com/VehnxHV.png" alt="lion">
                    </div>
                    <div class="toggle-collapse">
                        <div class="toggle-icons">
                            <i class="fas fa-bars"></i>
                        </div>
                    </div>
                    <div>
                        <ul class="nav-items nav-up">
                            <li class="nav-link">
                                <i class="fas fa-home"></i>
                                <a href="{% url 'virtues:index' %}" class="cool-link ">Home</a>
                            </li>
                            <li class="nav-link">
                                <i class="fas fa-book-open"></i>
                                <a href="{% url 'virtues:titles' %}"class="cool-link">Titles</a>
                            </li>
                            <li class="nav-link">
                                <i class="fas fa-award"></i>
                                <a href="{% url 'virtues:results' %}" class="cool-link ">Leaderboard</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="nav-items nav-down">
                            <li class="nav-link">
                                <a href="{% url 'users:user_settings' %}"><i class="fas fa-cog"></i></a>
                            </li>
                            <li class="nav-link">
                                <i class="fas fa-sign-out-alt"></i>
                                {% if user.is_authenticated %}
                                <a href="{% url 'account_logout' %}">Logout</a>
                                {% else %}
                                <a href="{% url 'account_login' %}">Login</a>
                                {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            <div class='message-container'>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </main>
        <!-- Footer -->
        <footer class="footer-bottom">
            <p>Copyright &copy; 2020 Pack of Leos.</p>
            <div class="github">
                <i class="fab fa-github"></i>
                <a href="https://github.com/packofleos/virtues-of-leos">GitHub</a>
            </div>
        </footer>

        <!-- Jquery File -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Custom Javascript file -->
        <script src="{% static 'virtues/js/nav.js' %}"></script>
    </body>
</html>