{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'virtues/style.css' %}">
    <title>Virtues of Leos</title>
</head>
<body>
    <header>
    <p>Virtues of Leos</p>
    <nav>
        <ul>
            <li><a href="{% url 'virtues:index' %}">Home</a></li>
            <li><a href="{% url 'virtues:results' %}">Results</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'users:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'users:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>Copyright &copy; 2020 Pack of Leos</p>
        <a href="https://github.com/packofleos/virtues-of-leos">GitHub</a>
    </footer>
</body>
</html>