{% extends 'virtues/base.html' %}

{% block content %}
    {% if formset %}
    <div class="form-container">
        <form action="{% url 'virtues:index' %}" method="POST">
            {% csrf_token %}
            {{ formset.management_form }}     
            {% for form, task in forms_and_tasks %}
            <div class="task-container">
                <div class="task-inner">
                    <table>{{ form.as_table }}</table>
                </div>
                <div class="description">
                    <p>{{ task.description }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="btn-container">
                <button class="btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}