{% extends 'virtues/base.html' %}

{% block head_title %}Virtues of Leos{% endblock %}

{% block content %}
    {% if formset %}
        <form class="task-form" action="{% url 'virtues:index' %}" method="POST">
            <div class="task">
            {% csrf_token %}
            {{ formset.management_form }}  
            {% for form, task in forms_and_tasks %}
            <div class="task-container">
                <div class="task-above" >
                        <h2>
                            {{ form.task.errors }}
                            {{ task.name }}  <!-- {{ form.task }} gets initialized, so we can leave it out -->
                        </h2>
                    <div>
                        <table>
                            {{ form.date.errors }}
                            {{ form.date }}
                        </table>
                    </div>
                </div>
                <div class="task-down">
                        <p>{{ task.description }}</p>
                        {{ form.non_field_errors }}
                        <td>
                            {{ form.amount.errors }}
                            {{ form.amount }}
                        </td>
                </div>
            </div>
            {% endfor %}
        </div>
            <div class="submit">
                <button type="submit">Submit</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
