@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Redressed&display=swap');

:root {
    --main-color: rgb(44, 0, 114);
    --second-color:  rgb(126, 68, 219);
    --border-color: rgb(180, 180, 180);
    --mainbg-color: black;
    --mainfont-color: honeydew;
    --headerfooter-font: 'Langar', sans-serif;
    --body-font: 'Merienda', cursive;
}

/* ~~ header & nav bar ~~ */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--body-font);
}

header {
    color: var(--mainfont-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: var(--main-color);
    margin-bottom: 1rem;
}

header p, header nav ul li a {
    color: inherit;
    text-decoration: none;
    padding-left: 5px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-family: var(--headerfooter-font);
}

header nav ul li {
    display: inline-block;
}

@media (max-width: 486px) {
    /* TODO: add a menu icon */
    header nav ul li {
        display: block;
    }
    header {
        margin-bottom: 25px;
    }
}

/* ~~ footer ~~ */
footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--main-color);
    margin-top: auto;
    padding: 0 3%;
    font-family: var(--headerfooter-font);
}

footer * {
    color: var(--second-color);
}